.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}
/* Control the left side */
.left {
  left: 0;
  --tw-bg-opacity: 1;
  background-color: rgb(12 74 110 / var(--tw-bg-opacity));
}

/* Control the right side */
.right {
  right: 0;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.subtitulo-left{
    color: aliceblue;
}

.formData{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 84px;
}

/* main cotainer */
.mainContener{
  display: flex;
  place-content: center;
  --tw-bg-opacity: 1;
  background-color: #0D1117;;
}

.sub-contener-div_1{
  padding-left: 2.5rem/* 40px */;
  padding-right: 2.5rem/* 40px */;
  padding-top: 2.5rem/* 40px */;
  padding-bottom: 2.5rem/* 40px */;
  width: 100%;
}

.contener-sub-div_2{
  text-align: center;
  position: relative;
}

.mainTitulo{
  font-weight: 800;
  font-size: 2.25rem/* 36px */;
  line-height: 2.5rem/* 40px */;
  padding-top: 1rem/* 16px */;
  margin-bottom: 1rem/* 16px */;
  --tw-text-opacity: 1;
  color: rgb(243 244 246 / var(--tw-text-opacity));
}

.mainSpan{
  --tw-text-opacity: 1;
  color: rgb(29 78 216 / var(--tw-text-opacity));
}

.sub2-contener-div_3{
  display: inline-flex;
  flex-direction: column;
  text-align: center;
}


.imgContener-div_4{
  width: 100%;
}

@media (min-width: 640px) {
  .sub-contener-div_1 {
      max-width: 640px;
  }
}
@media (min-width: 768px) {
  .sub-contener-div_1 {
      max-width: 768px;
  }

  .md\:text-left {
      text-align: left;
  }
}

@media (min-width: 1024px) {
  .lg\:pb-24 {
      padding-bottom: 6rem/* 96px */;
  }
}

/* FIN index */
 
.footer{
  --tw-bg-opacity: 1;
  background-color: rgb(22 27 34);
  display: flex;
  align-items: center;
  height: 100px;
  width: 100%;
}
.footer a{
  color: white;
  cursor: pointer;
  font-size: 14px; 
  padding-left: 30px;
  text-decoration:none;
}

.footer a:hover{
  text-decoration: underline;
}